.avatar-nav {
	border-left: 2px solid $color-border-light;
	margin-left: 24px;
	padding-left: 24px;
	position: relative;

	@at-root {
		.avatar-nav-link {

			.link {
				align-items: center;
				display: flex;

				&:after {
					content: "";
					background-color: $color-text-lighter;
					display: block;
					height: 24px;
					margin-left: 4px;
					mask-image: url(../images/symbols/icon-chevron-down.svg);
					mask-repeat: no-repeat;
					mask-position: right center;
					mask-size: contain;
					width: 24px;
				}

				&.is-toggled {

					&:after {
						mask-image: url(../images/symbols/icon-chevron-up.svg);
					}
				}
			}

			.initial {
				background-color: $color-one-500;
				border-radius: 20px;
				color: $white;
				display: block;
				font-size: $font-size-400;
				font-weight: 700;
				letter-spacing: 0.05em;
				line-height: 36px;
				height: 40px;
				padding: 2px;
				text-align: center;
				width: 40px;
			}
		}

		.avatar-nav-menu {
			background-color: $white;
			border: 1px solid $color-border;
			border-radius: 3px;
			box-shadow: $box-shadow-400;
			display: none;
			margin-top: 16px;
			min-width: 200px;
			position: absolute;
			right: 0;
			top: 100%;
			z-index: 2;

			.items {
				padding: 8px;
			}

			.link {
				color: $color-text;
				display: block;
				padding: 4px 8px;
				text-align: center;

				&:hover,
				&:focus {
					color: $color-one-500;
				}
			}
		}
	}
}
